/*!
 * Animation
 * @tutorial https://web.dev/learn/css/animations/
 * @example https://fed-vocational-astro-course.vercel.app/en/html-css/module-4/animations-transitions
 */

.skeleton-loader {
  animation: skeleton 1s linear infinite alternate;
}

@keyframes skeleton {
  0% {
    background-color: hsl(200, 20%, 70%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}
