/*!
 * Layout
 * Layout classes use the l- prefix to indicate they are layout classes.
 * @tutorial https://web.dev/learn/css/layout/
 * @example https://fed-vocational-astro-course.vercel.app/en/html-css/module-3/css-grids
 */

.l-header {
  display: flex;
  flex-direction: column;
  grid-area: header;
  width: 100%;
  padding: var(--size-fluid-1);
}

.l-main {
  display: flex;
  flex-direction: column;
  grid-area: main;
  width: 100%;
  padding: var(--size-fluid-2);
}

.l-footer {
  display: flex;
  flex-direction: column;
  grid-area: footer;
  width: 100%;
  padding: var(--size-fluid-1);
}

.l-content {
  flex: 1 0 auto;
}

.l-container {
  width: 100%;
  max-width: 1000px;
  margin: 40px auto 0 auto;
}

.skeleton-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 0%;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  border-radius: 20px;
}

.skeleton-family {
  width: 10rem;
  height: 2.5rem;
  margin-top: 10px;
  margin-left: 20px;
  border-radius: 20px;
}

.skeleton-card {
  display: flex;
  flex-direction: column;
  padding: 1em;
  max-width: 300px;
  margin: 1rem;
  border-radius: 1rem;
}

.image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 0%;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  border-radius: 20px;
}

.image:hover {
  opacity: 0.7;
}

.details {
  text-align: center;
}

.card a .details h4 {
  text-decoration: none;
}

h1 {
  text-align: center;
  font-family: 'Gentium Book Plus', serif;
  font-size: 40px;
}

h2 {
  text-align: center;
  font-family: 'Gentium Book Plus', serif;
  font-size: 30px;
}

.fullname, .family {
  color: rgb(48, 39, 39);
}

.family:hover, .fullname:hover {
  color: azure;
  transition: ease-in;
}

article p {
  text-align: center;
}


#js-list-container {
  margin-top: 40px;
  display: flex;
  flex-flow: row wrap;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 1em;
  max-width: 300px;
  margin: 1rem;
  border-radius: 1rem;
  margin-left: 50px;
}

.card div.details {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}

body {
  background-color: bisque;
  margin: 0;
  width: 100%;
  place-items: flex-start;
  min-width: 300px;
  min-height: 100vh;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: minmax(62px, auto) 1fr;
  grid-template-areas:
    "header"
    "main"
    "footer";
}


