/*!
 * UI
 * Place all your regular CSS here. If you don't know where to write your css, write it here.
 * @tutorial https://web.dev/learn/css/flexbox/
 * @example https://fed-vocational-astro-course.vercel.app/en/html-css/module-3/media-queries
 */

.c-card {
  border-radius: --radius-1;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: beige;
}

.navmenu {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  font-size: 18px;
  list-style-type: none;
}

.navmenu ul li a {
  text-decoration: none;
  color: black;
}

li:hover {
  opacity: 0.4;
}

#search-bar {
  width: 150px;
  height: 35px;
  border-radius: 10px;
  margin-left: 25px;
}
